---
import Head from '~/components/Head.astro'
---

<html lang="en">
  <Head title="#" description="Hi there ~" />
  <body class="m0 size-screen justify-between bg-shadcn p6 text-shadcn font-sans" flex="~ col">
    <button>
      <span>Click me</span>
    </button>
  </body>
</html>

<script src="~/modules/signal"></script>
