---
import Head from '~/components/Head.astro'
---

<html lang="en">
  <Head title="#" description="Hi there ~" />
  <body class="m0 size-screen justify-between bg-shadcn p6 text-shadcn font-sans" flex="~ col">
    <header>Hi there ~</header>
    <footer>
      <ul class="m0 list-none p0 text-sm font-480 lh-loose uppercase">
        <li>
          <a class="text-shadcn-muted decoration-none" href="https://public.me/jiakun-zhao" target="_blank">public.me</a>
        </li>
        <li>
          <a class="text-shadcn-muted decoration-none" href="mailto:hi@zhaojiakun.com" target="_blank">contact</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
