---
import Head from '~/components/Head.astro'

// @keep-sorted
const experience = [
  { title: '自由职业', description: '网站/小程序设计与开发，平面设计。', date: '2025.02 - 至今' },
  { title: '消暖施工', description: '参与“杭州传化科技城有限公司”系列工程的建设，负责消防与暖通现场施工管理、人员部署、图纸绘制等相关工作与部分成本测算。', date: '2024.02 - 2025.01' },
  { title: '自由职业', description: '网站/小程序设计与开发，平面设计。', date: '2022.01 - 2023.12' },
  { title: '消暖施工', description: '参与“成都传化中心”（实习）和“上海松江两馆一场”的建设，负责消防与暖通现场施工管理、人员部署、图纸绘制等相关工作。', date: '2020.08 - 2022.01' },
  { title: '平面设计', description: '自营工作室，负责广告相关内容设计制作。', date: '2019.07 - 2020.07' },
  { title: '平面设计', description: '就职于“杭州众冠文化传播有限公司”，负责广告/海报等相关内容设计制作。', date: '2019.01 - 2019.06' },
]
---

<html lang="en">
  <Head title="个人简历" description="赵家锟的个人简历">
    <script is:inline>(()=>{const el=document.createElement('style');el.innerHTML='@pages{size:A4 portrait}';document.head.appendChild(el)})()</script>
  </Head>
  <body class="m0 bg-shadcn p12 text-shadcn/80 lh-loose tracking-wider font-sans bg-wechat">
    <main class="mx-auto max-w-xl w-full pb-[env(safe-area-inset-bottom)]">
      <h3>赵家锟</h3>
      <p class="text-shadcn-muted/80">计算机世界的狂热爱好者，前端开发者，平面兼 UI 设计师，消暖施工员。期望获得一份新工作来满足正常社交的自由职业者。</p>
      <p class="text-shadcn-muted/80">发送邮件至 hi@zhaojiakun.com 和我联系。</p>

      <div class="gap-2 py8 text-2xl filter-contrast-85 filter-grayscale-100 light:filter-invert-100" flex="~ wrap">
        <span class="i-skill-icons:photoshop"></span>
        <span class="i-skill-icons:premiere"></span>
        <span class="i-skill-icons:illustrator"></span>
        <span class="i-skill-icons:xd"></span>
        <span class="i-skill-icons:figma-dark"></span>
        <span class="i-skill-icons:autocad-light filter-invert-100"></span>
        <span class="i-skill-icons:git" light:filter-invert-100></span>
        <span class="i-skill-icons:nodejs-dark"></span>
        <span class="i-skill-icons:typescript" filter-invert-100></span>
        <span class="i-skill-icons:javascript filter-invert-100"></span>
        <span class="i-skill-icons:kotlin-light" filter-invert-100></span>
        <span class="i-skill-icons:vuejs-light filter-invert-100"></span>
        <span class="i-skill-icons:solidjs-light filter-invert-100"></span>
      </div>

      <div grid="~ cols-[min-content_1fr]" class="w-full items-baseline gap-2">
        {experience.map(item => (
          <>
            <h4 class="m0 mt6 text-nowrap">{item.title}</h4>
            <div class="text-xs text-shadcn-muted/80">{item.date}</div>
            <div class="col-span-2 text-shadcn-muted/80">{item.description}</div>
          </>
        ))}
      </div>
    </main>
  </body>
</html>
