---
import Head from '~/components/Head.astro'

const name = 'Phone number to md5 zip.'
---

<html lang="en">
  <Head title={name} description={name} />
  <body class="m0 size-screen bg-shadcn text-shadcn font-sans" flex="~ col">
    <header class="px6" border="0 b-1 dashed shadcn">
      <div class="mx-auto max-w-3xl w-full text-sm" border="0 x-1 dashed shadcn">
        <button id="format" class="cursor-pointer btn-reset px2 py3 transition-colors hover:text-accent" border="0 r-1 dashed shadcn">Format</button>
        <button id="btn16" class="cursor-pointer btn-reset px2 py3 transition-colors hover:text-accent" border="0 r-1 dashed shadcn">16-Bit Download</button>
        <button id="btn32" class="cursor-pointer btn-reset px2 py3 transition-colors hover:text-accent" border="0 r-1 dashed shadcn">32-Bit Download</button>
      </div>
    </header>
    <main class="h0 flex-1 px6">
      <div class="mx-auto size-full max-w-3xl p4" border="0 x-1 dashed shadcn">
        <textarea class="block size-full b-none bg-shadcn text-inherit lh-relaxed font-inherit font-mono outline-none"></textarea>
      </div>
    </main>
    <script src="~/modules/phone-number-to-md5-zip"></script>
  </body>
</html>
