---
import type { MarkdownHeading } from 'astro'

interface Props {
    headings: MarkdownHeading[]
}

const { headings } = Astro.props
const minDepth = headings.map(({ depth }) => depth).sort((a: number, b: number) => a - b)[0] ?? 0
---

<details class="headings">
    <summary>Headings</summary>
    <div>
        {
            headings.map(({ depth, text, slug }) => {
                return (
                    <a style={`--depth:${depth - minDepth}`} href="javascript:void(0);" data-slug={slug}>{text}</a>
                )
            })
        }
    </div>
</details>

<script>
(function () {
    const details = document.querySelector('details.headings') as HTMLDetailsElement
    document.querySelectorAll('a[data-slug]').forEach((i: HTMLAnchorElement) => {
        i.addEventListener('click', () => {
            details.open = false
            document.querySelector(`#${i.dataset.slug}`)?.scrollIntoView({ behavior: 'smooth' })
        })
    })
})()
</script>
