---
import { AUTHOR, DESCRIPTION, NAME, OG_IMAGE } from '~/config'
---

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
<link rel="manifest" href="/site.webmanifest" />

<title>{Astro.props.title ?? NAME}</title>
<meta name="author" content={Astro.props.author ?? AUTHOR} />
<meta name="description" content={Astro.props.description ?? DESCRIPTION} />

<meta property="og:title" content={Astro.props.title ?? NAME} />
<meta property="og:description" content={Astro.props.description ?? DESCRIPTION} />
<meta property="og:image" content={`${Astro.url.origin}/${Astro.props.image ?? OG_IMAGE}`} />

<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@zhaojiakun_com" />

<style set:html={Astro.props.style ?? ''}></style>

<script is:inline>
    // eslint-disable-next-line no-var, @typescript-eslint/no-use-before-define
    var _hmt = _hmt || []
    ;(function () {
        const hm = document.createElement('script')
        hm.src = 'https://hm.baidu.com/hm.js?94da58b5a6019e02c7d547ffb37de625'
        const s = document.getElementsByTagName('script')[0]
        s.parentNode.insertBefore(hm, s)
    })()
</script>
