---
import '~/styles/index.scss'
import Head from '~/components/Head.astro'
import Giscus from '~/components/Giscus.astro'
import { NAME } from '~/config'

const props = Astro.props.frontmatter ?? Astro.props
---

<html>
    <head>
        <Head {...props} />
        {props.giscus && <Giscus />}
    </head>
    <body>
        <header>
            <h1>{props.subtitle ?? props.title ?? NAME}</h1>
            {props.date && (
                <p>
                    <span>Update at: {props.date.update_at}</span>
                    <span>Create at: {props.date.create_at}</span>
                </p>
            )}
        </header>
        <main>
            <slot />
            {props.giscus && <div class="giscus" />}
        </main>
        <footer>
            <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
            <span>2023 © Jiakun Zhao</span>
        </footer>
        <script>
            import '~/client-scripts'
        </script>
    </body>
</html>
