---
import { getCollection } from 'astro:content'
import Layout from '~/components/Layout.astro'

const moments = await getCollection(
    'moments',
    ({ id }) => /^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}.md$/.test(id),
)
---

<Layout {...Astro.props}>
    {
        moments.map(i => (
            <p>
                <span>{i.id.slice(2, -6)}&nbsp;</span>
                <span>{i.body}</span>
            </p>
        ))
    }
</Layout>
