@import './styles/slide-enter.css';
@import './styles/transition.css';

* {
  box-sizing: border-box;
}

details summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

::selection {
  --uno: bg-accent text-white;
}

.\- {
  text-align: justify;
  overflow-wrap: break-word;
  word-break: break-all;
  --uno: leading-8 text-secondary font-sans tracking-wider text-sm;
}

.\- a {
  border-bottom: 1px solid;
  text-decoration: none;
  --uno: text-primary border-primary transition-500;
}

.\- a:hover {
  --uno: text-accent border-current;
}

.\- ul,
.\- ol {
  --uno: ps-6;
}

.\- img {
  display: block;
  max-width: 100%;
}

.\- pre {
  border-radius: 6px;
  padding: 0.875rem 1rem;
  overflow-x: auto;
  line-height: 1.4rem;
  --uno: text-accent bg-secondary text-sm;
}

.\- code {
  --uno: font-mono;
}

.\- code:not(pre > code) {
  border-radius: 6px;
  line-height: normal;
  padding: 2px 5px;
  --uno: text-primary bg-secondary;
}

.\- blockquote {
  border-radius: 6px;
  padding: 0.5rem 1rem;
  --uno: bg-secondary mx-0;
}
.\- blockquote p {
  margin: 0;
}

.\- h1,
.\- h2,
.\- h3,
.\- h4,
.\- h5,
.\- h6,
.\- strong {
  --uno: text-primary;
}

.\- figure {
  margin: 0;
}

.\- figure figcaption {
  padding: 1rem 0;
  --uno: text-thirdly text-xs;
}

.\- pre.shiki.vitesse-dark {
  --uno: 'bg-secondary! hidden dark:block';
}

.\- pre.shiki.vitesse-light {
  --uno: 'bg-secondary! block dark:hidden';
}
