article {
  text-align: justify;
  overflow-wrap: break-word;
  word-break: break-all;
  --uno: leading-8 text-secondary font-sans tracking-wider text-sm;
}

article a {
  border-bottom: 1px solid;
  text-decoration: none;
  font-weight: 500;
  --uno: text-primary border-primary transition-500;
}

article a:hover {
  --uno: text-accent border-current;
}

article ul,
article ol {
  --uno: ps-6;
}

article pre {
  border-radius: 6px;
  padding: 0.875rem 1rem;
  overflow-x: auto;
  line-height: 1.4rem;
  --uno: text-secondary bg-secondary text-sm;
}

article code {
  --uno: font-mono;
}

article code:not(pre > code) {
  border-radius: 6px;
  line-height: normal;
  padding: 2px 5px;
  --uno: text-primary bg-secondary;
}

article blockquote {
  border-radius: 6px;
  padding: 0.5rem 1rem;
  --uno: bg-secondary mx-0;
}
article blockquote p {
  margin: 0;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
article strong {
  --uno: text-primary;
}

article img[src^="/assets/douyin-emoji"]{
  --uno: inline w-4 h-4 align-mid;
}

