[index-] a {
  color: rgb(var(--text-primary));
  border-bottom: 1px solid rgb(var(--border-primary));
  text-decoration: none;
}

[index-] a:hover {
  color: rgb(var(--accent));
  border-color: currentColor;
}

[index-] ul,
[index-] p {
  color: rgb(var(--text-secondary));
  font-size: 0.875rem;
  line-height: 2rem;
}

[index-] ul {
  padding-inline-start: 1.6rem;
}

[index-] img {
  display: block;
  width: 100%;
}

[index-] code:not(pre > code) {
  color: rgb(var(--text-primary));
  background-color: rgb(var(--bg-secondary));
  border-radius: 6px;
  padding: 2px 5px;
  line-height: normal;
}

[index-] pre {
  color: rgb(var(--text-secondary));
  background-color: rgb(var(--bg-secondary)) !important;
  border-radius: 6px;
  padding: 0.875rem 1rem;
  overflow-x: auto;
  line-height: 1.4rem;
  font-size: 0.875rem;
}

[index-] blockquote {
  background-color: rgb(var(--bg-secondary));
  border-radius: 6px;
  margin-left: 0;
  margin-right: 0;
  padding: 0.5rem 1rem;
}

[index-] blockquote p {
  margin: 0;
}

[index-] strong {
  color: rgb(var(--text-primary));
}

[index-] figure {
  margin: 0;
}

[index-] figure figcaption {
  font-size: 0.75rem;
  color: rgb(var(--text-thirdly));
  padding: 1rem 0;
}
