---
import DafaultHead from '~/components/DafaultHead.astro'
---

<html lang="en">
    <head>
        <DafaultHead />
    </head>
    <body>
        <slot />
        <script>
            import '~/client'
        </script>
    </body>
</html>
