---
import '~/styles/index.scss'
import Head from '~/components/Head.astro'

const props = Astro.props.frontmatter ?? Astro.props

---

<html>
    <head>
        <Head {...props}/>
    </head>
    <body>
        <main>
            <slot />
        </main>
        <nav>
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="javascript:void(0);scrollTo({top:0,behavior:'smooth'});">TOP</a>
                </li>
            </ul>
        </nav>
        <script>
            import '~/client-scripts'
        </script>
    </body>
</html>
